
body{
    text-align: center;
}

.container{
    margin: 25px;
    border: 1px solid black;
}

.position{
    position:static; /*como se va a colocar*/
    top: 30px;
    left: 10px; 
}

.container-padre{
    margin: 25px;
    padding: 25px;
    border: 1px solid black;
}

.position{
    position: absolute;
    top: 50px;
}
.display {
    border: 1px solid red;
}
.grid-container {
    
}